.row-header-inner {
  float: left;
}

#nav-wrap {
  font: 11px "raleway-heavy", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.0px;
  display: inline-block;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  line-height: 72px;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.active {
  background-color: #293e6a;
}

#main-header {
  height: 72px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 990;
  text-align: center;
  background: #3b5998;
}

header .logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  margin-right: 35px;
  margin-left: 35px;
  position: relative;
  z-index: 992;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.logo a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.logo a {
  text-decoration: none;
  font: 14px "raleway-heavy", sans-serif;
  color: white;
}

.main-page-wrap {
  padding-top: 10px;
  width: 100%;
  height: 100vd;
  background-color: #ecf0f1;
  overflow: hidden;
}

section .homepage{
  background-color: #ecf0f1;
}

section .home-img {
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 50%;
  height: 100%;
}

section .bio {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
  width: 45%;
  height: 100%;
}

h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 32px;
}

body p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
}

.contact {
  background-color: #ecf0f1;
  height: 40px;
  width: 100%;
  margin-top: 5%;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 5px;
}

#icon-tag {
  text-decoration: none;
  color: black;
}

#icon-tag:hover {
  color: rgba(0, 0, 0, 0.5);
}
