<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="icon" href="/assets/images/robot.png">
            <meta charset="UTF-8">

        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
            <div class="container">

            {{ content }}

            </div><!-- /.container -->
            <footer>
                <ul>
                    <li>Github</li>
                    <li>Linkedin</li>
                    <li>Spotify</li>
                    <li>
                        <a href="https://github.com/dransho1">
                            <img width="25" height="25" src="/assets/images/GitHub-Mark-120px-plus.png" alt="Gh logo">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/david-ranshous/">
                            <img width="25" height="25" src="/assets/images/LI-In-Bug.png" alt="LI logo">
                        </a>
                    </li>
                    <li>
                        <a href="https://open.spotify.com/user/1248120511?si=Qus1HcFlRhausEqE_rQdeQ">
                            <img width="25" height="25" src="/assets/images/Spotify_Icon_RGB_Green.png" alt="SP logo">
                        </a>
                    </li>
                </ul>
            </footer>
        </body>
    </html>
